body {
  background: #f4f4f9;
  color: #111;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 20px;
}
html, body {
  height: 100%;
  overflow: hidden;
}

#game-container {
  display: flex;
  gap: 20px;
}

#board {
  background: #000;
  border: 2px solid #555;
}

#sidebar {
  min-width: 120px;
}

.hint {
  font-size: 14px;
  color: #aaa;
}
#controls {
  display: none;
  margin-top: 10px;
  text-align: center;
}

#controls button {
  font-size: 24px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 12px;
  border: none;
  background: #eee;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* Khi màn hình nhỏ hơn 768px (tablet/điện thoại) thì hiện */
@media (max-width: 468px) {
  #controls {
    display: block;
  }
}